/*******************************about me ****************************/
.about-section
{
  height: 100vh;
}


.about-img {
  margin-bottom: 2rem;
}


.about-img img {
  width: 100%;
  max-width: 2rem;
  height: auto;
}
.about-img-container img{
  position: relative;
  width: 20rem;
  height: auto;
  border-radius: 30%;
  right: -4rem;
  bottom: -7rem;
}
.about .aboutcontainer .row{
  display: flex;
  gap: 10rem;
}
.about-content{
  margin-bottom: 500px;
}

.box-shadow-full{
  width: 50rem;
  height: 10rem;
  justify-content: flex-end;
  
}
.lead{
  font-size: .8rem;
}


.title-left {
  font-size: 24px;
  color: #ff90BC;
  text-align: left;
}

.skill-mf .progress {
  background-color: #FFC0D9;
  margin: 0.5rem 0 1.2rem 0;
  border-radius: 0;
  height: 0.7rem;
}

.skill-mf .progress .progress-bar {
  height: 0.7rem;
  background-color: #8ACDD7;
}

.skill-list span {
  color: #333;
}

.skill-list .pull-right {
  float: right;
}

.title-s{
  color: #ff90BC;
  font-weight: 5rem;
  font-size: 2rem;
}



@media only screen and (max-width: 768px) {

  .about .aboutcontainer {
    width: 768px;
    margin-left: -20px;
  }

  .about-img-container img {
    width: 20rem; 
    left: 13rem; 
    bottom: -5rem;
    text-align: center;
  }

  .about .aboutcontainer .row {
    flex-direction: column; 
    gap: 3rem; 
  }

  .box-shadow-full {
    width: 45rem; 
    height: auto; 
    
  }

  .title-left {
    font-size: 20px; 
    text-align: center; 
  
}

.about-content {
  margin-bottom: 2rem; 

}

}


@media (max-width: 450px) {
    
 
  .about-img-container {
      margin: 0;
      padding: 0;
     /* border: 2px solid red; */
     width: 56%;
      /* width: 15rem;
      left: 3rem;
      bottom: -5rem; */
    }
  
    .about .aboutcontainer .row {
      flex-direction: column; 
      gap: 3rem; 
      width: 420px;
    }
  
   
  
    .box-shadow-full {
      width: 100%; 
      height: auto; 
    }
  
    .title-left {
      font-size: 20px; 
      text-align: center; 
    }
    .skill-list{
      width: 100%;

    }
    .box-shadow-full{
      width: 50%;
    }
   
    .skill-mf{
      left: 0;
      right: 0;
      margin: 0;
      width: 95%;
     
    }

    .skill-mf .progress,
    .skill-mf .progress .progress-bar {
      height: 0.5rem; 
      width: 100%;
    }

    
  .about-img-container img {
    width: 20rem; 
    left: 2rem; 
    bottom: -5rem;
    text-align: center;
  }
  .aboutcontainer{
    width: 420;
    display: none;
  }

  }



  

  


  