/* Navbar Styles */
nav {
    background-color: #ff90BC; /* Background color of the navbar */
    padding: 15px 0; /* Top and bottom padding */
    position: fixed;
    top: 0; /* Stick to the top of the viewport */
    width: 100%;
    z-index: 100;
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
  
  .navbar-logo {
    font-size: 24px;
    color: #fff;
  }
  
  .navbar-links ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  .navbar-links ul li {
    margin-left: 20px;
  }
  
  .navbar-links ul li:first-child {
    margin-left: 0;
  }
  
  .navbar-links ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
  }
  
  .bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 4px 0;
    transition: 0.4s;
  }


  /* Default styles for larger screens */
@media screen and (min-width: 769px) {
  .navbar-links {
    display: flex !important; /* Ensure links are always visible on larger screens */
  }

  .hamburger-menu {
    display: none; /* Hide the hamburger menu on larger screens */
  }
}
  


  @media only screen and (max-width: 768px ){
  .navbar-links {
    display: none; /* Hide the links by default on smaller screens */
    position: absolute;
    top: 50px; /* Adjust as needed */
    left: 0;
    background-color: #ff90bc;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    transition: all 0.3s ease;
  }

  .navbar-links.active {
    display: flex; /* Show the links when active */
    flex-direction: column; /* Align links vertically */
  }

  .hamburger-menu {
    display: block; /* Show the hamburger menu on smaller screens */
    cursor: pointer;
    
  }

  .navbar-links ul {
    display: block;
    
    color: black;
    
  }
  nav {
    max-width: 100%;
  }
  
}



    /* Media Query for Mobile Devices with max-width: 425px */
   @media (max-width: 425px) {
        nav {
          padding: 10px 0; 
          width: 425px;
        }
      
        
      
        .navbar-logo {
          font-size: 24px;  
        }
      
        .navbar-links ul {
          display: block;
          margin-left: 10px;  
          color: black;
         
          
        }
      
        .bar {
          width: 20px;  
          margin: 3px 0;  
          
        }
      
        .navbar-links {
            top: 60px;
            padding: 5px 0;
            display: none; 
            position: absolute;
            left: 0;
            
            width: 100%;
            text-align: center;
            transition: all 0.3s ease;
           
            gap: 0.5rem;
            justify-content: center;
            cursor: pointer;
            right: 0;
        }
        
      
        .navbar-links.active {
          display: flex; 
        
        }
      
        .hamburger-menu {
          display: block; 
          cursor: pointer;
          width: 24px;
          height: 24px;
         
        }

        
      }


      


