nav {
  background-color: #ff90BC; /* Background color of the navbar */
  padding: 15px 0; /* Top and bottom padding */
  align-items: center;
  justify-content: space-between;
  width: 100%; /* Adjust width as needed */
  
}

.navbar-links {
  list-style-type: none; /* Remove bullets from the list */
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end; /* Align links to the right */
}

.navbar-links li {
  margin-left: 20px; /* Add margin between list items */
}

.navbar-links li:first-child {
  margin-left: 0; /* Remove margin from the first list item */
}

.navbar-links li a {
  text-decoration: none; /* Remove underline from links */
  color: #fff; /* Text color of the links */
  font-size: 18px; /* Font size of the links */
  font-weight: 600;
  white-space: nowrap;
  transition: 0.3s;
  letter-spacing: 0.4px;
  text-transform: uppercase;
}

.navbar-links li a:hover {
  color: #ccc; /* Text color of links on hover */
}
/*Home Page picture*/

.abtImageContainer{
  text-align: center;
  margin-left: 700px;
}
.abtImage{
  text-align: center;
  height: 550px;
  width: 550px;
  margin-top: 30px;
  border-radius: 50%;
  border: 1px transparent;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 2);
  margin-bottom: 20px;
}

.abtImage img{
  flex: 1;
  text-align: center;
  height: 550px;
  width: 550px;
  margin-top: 30px;
  border-radius: 50%;
  border: 1px transparent;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 4);
  margin-bottom: 20px;
}

/* download button style*/

.btn:hover{
  background: #ff90BC;
}
.btn{
  margin-top: -10px;
  padding: 5px 10px;
  font-size: 1.2em;
  border-radius: 15px;
  color: black;
  background-color: #8ACDD7;

}