
/* Media Query for Mobile Devices */
@media screen and (max-width: 768px) {
  .navbar-links {
    display: none; /* Hide the links by default on smaller screens */
    position: absolute;
    top: 80px; /* Adjust as needed */
    left: 0;
    background-color: #ff90bc;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    transition: all 0.3s ease;
  }

  .navbar-links.active {
    display: flex; /* Show the links when active */
    flex-direction: column; /* Align links vertically */

    
  }
  .navbar-links ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
  }

  .hamburger-menu {
    display: block; /* Show the hamburger menu on smaller screens */
    cursor: pointer;
  }

  .typed {
    font-size: 30px;
    top: 100px;
    left: 10px;
    align-items: center;
    top: 10rem;
  }

  #home .container .hero-title {
    top: 100px;
  }

  .abtImageContainer {
    text-align: right;
    margin-bottom: 6rem;
  }

  .abtImage {
    width: 300px;
    height: 300px;
    margin: 0 auto;
    margin-top: 1%;
    margin-bottom: 10px;
    margin-right: 0;
    text-align: center;
    
  }
  .abtImage {
    display: inline-block;
    width: 550px;
    height: 550px;
    border-radius: 50%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    margin-top: -15%;
    margin-right: 50px;
    /* Adjust the margin from the top */
  }

  .btn {
    right: 0;
    top: 10px;
  }

  .about-img-container img {
    width: 15rem;
    right: auto;
    bottom: auto;
    margin-bottom: 2rem;
  }
  
  .about .container .row {
    flex-direction: column;
    gap: 2rem;
  }
  
  .about-content {
    margin-bottom: 100px; /* Adjust as needed */
  }

  .box-shadow-full {
    width: auto; /* Allow it to adjust based on content */
    height: auto;
  }

  .lead {
    font-size: 0.8rem;
  }

  .title-left {
    font-size: 20px;
    text-align: center;
  }

  .skill-mf .progress,
  .skill-mf .progress .progress-bar {
    height: 0.5rem; /* Adjust the progress bar height */
  }

    /* Projects */
    #projects .container {
      margin-top: 1rem;
     
    }
    
    .work-box {
      top: 1rem;
      margin-bottom: 1rem;
    }
    
    .work-img img {
      height: auto;
    }
    
    .text-center .btn {
      width: 1.5rem;
    }
    
    /*Slideshow*/
    .Slider img {
      height: auto;
      width: 100%;
      padding-left: 0;
     
    }
    
    .projects {
      padding-left: 0.5rem;
    }
    
    .projects p,
    .projects h3 {
      padding-left: 0.5rem;
    }
    
    .slick-dots .slick-active button {
      margin-bottom: 1rem;
    }
  
  
    .Slider {
      left: 0;
      padding: 0 2rem;
    }
    
    .description-container {
      left: 0;
      max-width: 100%;
      margin-left: 0;
      width: 100%;
    }
    
    .description {
      right: 0;
      font-size: 1rem;
    }
}

/* Default styles for larger screens */
@media screen and (min-width: 769px) {
  .navbar-links {
    display: flex !important; /* Ensure links are always visible on larger screens */
  }

  .hamburger-menu {
    display: none; /* Hide the hamburger menu on larger screens */
  }

}




@media (max-width: 1024px) {
  
  
  .typed {
    margin-top: 2.2rem;
  }
  .hero-title span {
    /* Your styles for the span element */
    color: #ff90bc;
    margin-top: 2rem;
    font-weight: bold;
    font-size: 2.9rem;
    display: flex; 
  }
  .abtImageContainer {
    text-align: right;
    margin-bottom: 6rem;
  }
  .abtImage {
    display: inline-block;
    width: 550px;
    height: 550px;
    border-radius: 50%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    margin-top: -10%;
    margin-right: -15rem;
  }

  .btn {
    margin-right: -5rem;
    margin-top: rem;
  }

}




@media (max-width: 576px) {
  .typed {
    font-size: 20px;
    top: 50px;
    left: 5px;
  }

  #home .container .hero-title {
    top: 50px;
    padding: 1rem;
  }

  .abtImage {
    width: 250px;
    height: 250px;
  }

  .btn {
    font-size: 1em;
  }
}








@media only screen and (max-width: 600px) {
  .slide p {
    height: auto;
    font-size: 12px;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    white-space: normal;
    word-wrap: break-word;
  }

  .slideshow {
    font-size: 1.5rem;
  }

  .slide {
    height: auto;
    width: 100%;
    border-radius: 20px;
  }

  .slide img {
    width: 300px;
    height: 300px;
  }
  
}



/* Media Query for Mobile View */
@media only screen and (max-width: 600px) {
  .title-center {
    margin-left: 0;
  }

  .button {
    width: 60%;
  }

  .form-control {
    width: 100%;
    max-width: none;
  }

  .contact {
    flex-direction: column;
    height: auto;
    padding: 20px;
  }

  .contact .title-left {
    margin-left: 0;
  }

  .contact form {
    margin-left: 0;
  }

  .footer {
    width: 100%;
    bottom: 0;
  }

  .copyright-box {
    margin-left: 0;
    width: 100%;
  }

  .social-icons {
    margin-left: 0;
    margin-top: 20px;
  }
}


